/**
 *	SASS
 *	base.scss
 * 
 * 
 *	general StyleSheet
 * 
 */
@CHARSET "UTF-8";
/**
 *	Compass imports
 *	
 */
/*@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";*/
/**
 *	Font Face USER STUDIO ICONS
 *
 */
@font-face {
  font-family: 'userstudio';
  src: url("../fonts/userstudio/userstudio.eot");
  src: url("../fonts/userstudio/userstudio.eot?#iefix") format("embedded-opentype"), url("../fonts/userstudio/userstudio.woff") format("woff"), url("../fonts/userstudio/userstudio.ttf") format("truetype"), url("../fonts/userstudio/userstudio.svg#userstudio") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'userstudio';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

[data-icon-after]:after {
  font-family: 'userstudio';
  content: attr(data-icon-after);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/**
 *	Global variables
 *  
 */
body {
  background-color: #DBECE8;
  position: relative;
  width: 100%;
  height: 100%; }
  body footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px; }
    body footer div {
      width: 100%; }
    body footer p {
      width: 100%;
      text-align: center; }

/**
 *	Sass imports
 *
 */
/**
 *	SASS
 *	mixins.scss
 * 
 *	@author userstudio
 *	Copyright (c) 2013, User Studio (USER.IO). All rights reserved.
 * 
 *	Our own mixins
 *	
 */
/**
 *	SASS
 *	nav-bar.scss
 * 
 * 
 *	general StyleSheet
 * 
 */
.navbar {
  position: relative;
  width: 100%;
  height: 100%; }
  .navbar .close-button {
    color: white;
    position: absolute;
    top: 40px;
    font-size: 35px;
    cursor: pointer;
    text-align: right; }

.nav-filter {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 400px;
  -moz-transition-property: 0.5;
  -o-transition-property: 0.5;
  -webkit-transition-property: 0.5;
  transition-property: 0.5;
  opacity: 0;
  z-index: -100; }
  .nav-filter.filter-appears {
    opacity: 1;
    z-index: 9; }
  .nav-filter .close-button {
    left: 430px;
    text-shadow: 4px 0px 4px #9b9b9b; }

#menu {
  background-color: #a2e3c4;
  padding: 40px 30px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 10;
  -moz-transition-property: 0.15;
  -o-transition-property: 0.15;
  -webkit-transition-property: 0.15;
  transition-property: 0.15; }
  #menu.menu-appears {
    left: 0; }
  #menu .close-button {
    right: 30px; }
  #menu .navitems-wrapper {
    position: relative;
    height: 100%;
    width: 100%; }
    #menu .navitems-wrapper ul {
      padding-left: 0; }
      #menu .navitems-wrapper ul li {
        display: block;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 23px;
        margin-bottom: 2.5px; }
        #menu .navitems-wrapper ul li a {
          text-decoration: none;
          color: white; }
          #menu .navitems-wrapper ul li a:hover {
            text-decoration: underline; }
          #menu .navitems-wrapper ul li a.selected {
            font-weight: 700;
            text-decoration: underline; }
        #menu .navitems-wrapper ul li.login-item p {
          font-weight: 200;
          font-size: 20px; }
          #menu .navitems-wrapper ul li.login-item p span {
            font-size: 33px;
            display: inline-block;
            vertical-align: middle; }
      #menu .navitems-wrapper ul hr {
        margin-bottom: 40px; }
        #menu .navitems-wrapper ul hr.menu-end {
          margin-top: 40px; }
    #menu .navitems-wrapper .hand-coded {
      font-size: 12px; }
      #menu .navitems-wrapper .hand-coded p {
        text-align: center;
        width: 100%;
        letter-spacing: 2px; }
  @media screen and (min-width: 640px) {
    #menu {
      width: 400px; }
      #menu .close-button {
        display: none; } }

.navbar-default {
  background-color: transparent; }
  .navbar-default .navbar-header {
    margin-left: 5px; }
    .navbar-default .navbar-header a {
      font-size: 30px;
      color: white; }
