<!DOCTYPE html>
<html ng-app="Transcode">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Transcode</title>
    <!-- Fonts from Google fonts-->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600,700,800,300italic,400italic,600italic,700italic,800italic'>
    <link href="favicon.png" rel="shortcut icon">
    <link href="styles/ionicons.min.css" rel="stylesheet">
    <link href="styles/font-awesome.css" rel="stylesheet">
    <link href="styles/bootstrap.css" rel="stylesheet">
    <link href="styles/angular-toastr.css" rel="stylesheet">
    <link href="styles/style2.css" rel="stylesheet">
    <link href="styles/base.css" rel="stylesheet">
  </head>
  <body> 
    <div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
    	<div class="nav-filter">
	      	<div class="close-button">
		      	<a tc-menu-hide>
		      		<span data-icon="c"></span>
	  			</a>
	      	</div>
      	</div>
	  	<nav class="nav-menu" id="menu">
	  		<div class="close-button">
	  			<a tc-menu-hide>
		      		<span data-icon="c"></span>
	  			</a>
	      	</div>
		  	<div class="navitems-wrapper users-wrapper">
			  	<ul>
				  	<li class="login-item" ng-if="isAuthenticated()" ui-sref-active="active">
				  		<a ui-sref="profile" tc-menu-hide>
						  	<p>
						  		<span data-icon="U">&nbsp;</span><span class="username" ng-bind-html="user.name"></span>
						  	</p>
				  		</a>
				  	</li>
				  	<li ng-if="isAuthenticated()" ui-sref-active="active">
					  	<a ui-sref="logout" tc-menu-hide>
						  	<p>Logout</p>
					  	</a>
				  	</li>
				  	<li ng-if="!isAuthenticated()" ui-sref-active="active">
					  	<a ui-sref="signup" class="notlogged" tc-menu-hide>
						  	<p>Register</p>
					  	</a>
				  	</li>
				  	<li ng-if="!isAuthenticated()" ui-sref-active="active">
					  	<a ui-sref="login" class="notlogged" tc-menu-hide>
						  	<p>Login</p>
					  	</a>
				  	</li>
				  	<hr>
				  	<li ui-sref-active="active">
					  	<a ui-sref="home" tc-menu-hide><p>Home</p></a>
				  	</li>
				  	<li ui-sref-active="active">
					  	<a ui-sref="getstarted" tc-menu-hide><p>Get started</p></a>
				  	</li>
		            <li ng-if="user" ui-sref-active="active">
		              <a ui-sref="tasks" tc-menu-hide><p>Tasks</p></a>
		            </li>
				  	<li ui-sref-active="active">
					  	<a ui-sref="pricing" tc-menu-hide><p>Pricing</p></a>
				  	</li>
				  	<li ui-sref-active="active">
		              <a ui-sref="about" tc-menu-hide><p>About</p></a>
		            </li>
				  	<li ui-sref-active="active">
					  	<a ui-sref="contact" tc-menu-hide><p>Contact</p></a>
				  	</li>
				  	<hr class="menu-end">
					<li class="hand-coded">
						<p>Hand-coded with love in Paris</p>
						<p>Copyright 2012-2016 &#169; 4MATES, tous droits réservés</p>
			    	</li>
			  	</ul>
		  	</div>
	  	</nav>
	  	
	  	<div class="nav-wrapper">
		  	<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" tc-menu-collapse>
						<span data-icon="h">
					</a>
				</div>
			</div>
		</div>
	 </div>
    
    <div ui-view></div>
    <!-- Third-party Libraries -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <script src="bower_components/ui-bootstrap/src/stackedMap/stackedMap.js"></script>
    <script src="bower_components/ui-bootstrap/src/carousel/carousel.js"></script>
    <script src="bower_components/ui-bootstrap/src/modal/modal.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/socket.io-client/socket.io.js"></script>

    <!-- Application Code -->
    <script src="app.js"></script>
    <script src="config.js"></script>
    <script src="components/satellizer.password-strength.directive.js"></script>
    <script src="components/satellizer.password-match.directive.js"></script>
    <script src="components/confirm-dialog.directive.js"></script>
    <script src="components/validation.directives.js"></script>
    <script src="components/menu-collapse.directive.js"></script>
    <script src="components/landing.controller.js"></script>
    <script src="components/navigation.controller.js"></script>
    <script src="components/notifications.service.js"></script>
    <script src="security/login.controller.js"></script>
    <script src="security/logout.controller.js"></script>
    <script src="account/signup.controller.js"></script>
    <script src="account/account.controller.js"></script>
    <script src="account/account.service.js"></script>
    <script src="contact/contact.controller.js"></script>
    <script src="pricing/pricing.controller.js"></script>
    <script src="tasks/task-creation.controller.js"></script>
    <script src="tasks/task-index.controller.js"></script>
    <script src="tasks/tasks.service.js"></script>
  </body>
</html>