<div class="container page-wrapper" id="get-started">
	<div class="jumbotron">
		<h1>Get started now! :)</h1>
	</div>
	<form class="form-inline text-center" name="urlForm" ng-show="!currentTask.source">
		<div class="form-group">		
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div class="form-item">
						<h2>Pick a file</h2>
						<button name="file" 
							ngf-select="sendFile(file)"
							ngf-accept="'video/*'"
							ng-model="file">
							<span data-icon=")" class="btn-icon">&nbsp;</span>
							<span class="btn-text">Upload</span>
						</button>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="form-item">
						<h2>Paste a URL</h2>
						<input placeholder="Paste a URL" name="videoURL" 
							ng-model-options="{ debounce: 500 }"
							ng-model="videoURL"
							type="text"
							tc-url
						required>
					</div>
				</div>
			</div>
		</div>
	</form>
		
	<!-- Barre de progressoin de l'envoi du fichier -->
	<div ng-show="isFileSelected && !isFileUploaded" class="progress-wrapper">
		<p>Envoi du fichier <b>{{file.name}}</b> en cours...</p>
		<div class="progress">
			<div class="progress-bar"
				role="progressbar"
				aria-valuenow="{{progress}}"
				aria-valuemin="0" 
				aria-valuemax="100" 
				style="width: {{progress}}%;">
				{{progress}}%
			</div>
		</div> 
	</div>
			
	<div class="row">
		<div class="col-sm-12 col-md-6 task-content" ng-hide="!currentTask.source">
			<form name="taskCreationForm" class="progress-wrapper">
				<h3>File</h3>
				<p>
				<b>{{currentTask.source.displayName}}</b> ({{currentTask.source.infos.format.size}} bytes)<br>
				<p><b>Format:</b> {{currentTask.source.infos.format.format_long_name}}<br></p>
				<p><b>Extensions:</b> {{currentTask.source.infos.format.format_name}}<br></p>
				<p><b>Duration:</b> {{currentTask.source.infos.format.duration}}s<br></p>
				<p><b>Bitrate:</b> {{currentTask.source.infos.format.bit_rate}} b/s<br></p>
				<p><b>Streams:</b></p>
				<ol>
					<li ng-repeat="stream in currentTask.source.infos.streams"><b>({{stream.codec_type}})</b>&nbsp;{{stream.codec_long_name}}</li>
				</ol>			
				<h3>Task</h3>
				<div class="form-group">
						<select class="form-control"
						ng-init="command = availableCommands[0]"
						ng-model="command"
						ng-options="command.descr for command in availableCommands">
					</select>
				</div>
				<div class="form-group" ng-show="command.code == 'convert'">
					<p class="control-label">Choose a destination format :</p>
					<select class="form-control" 
						ng-init="format = availableFormats[0]"
						ng-model="format"
						ng-options="format.name for format in availableFormats">
					</select>
				</div>	
				
				<button type="submit" ng-click="abortTaskCreation()">Cancel</button>
				<button type="submit" ng-disabled="taskCreationForm.$invalid" ng-click="submitTask()">Proceed</button>
			</form>
		</div>
	</div>	
</div>