<div class="home-wrapper">
  <div class="carousel-wrapper">
    <uib-carousel class="carousel" active="active" interval="myInterval" no-wrap="noWrapSlides" template-url="template/carousel/carousel.html">
      <uib-slide class="carousel-slide" ng-repeat="slide in slides track by slide.id" index="slide.id" template-url="../template/carousel/slide.html">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
  
  <div class="container">
  	<div class="jumbotron">
		<div class="logo-wrapper">
			<img src="images/logo-clear.png" alt="logo">
		</div>
  		<h1>Welcome to 4mates!</h1>
	</div>
	<div class="content-wrapper">
		<div class="content-group">		
			<div class="row">
				<div class="col-sm-12 col-md-6 first">
					<div class="content-item">
			          <h2>Convert any media to any format</h2>
			          <p>It's fast and easy. Keep your converted files on the cloud, so that you can get them from anywhere and convert them again to another format. 
			            Choose between hundreds of video and audio formats.</p>
			          <a class="getstarted-btn" href="/#/getstarted">Let's go!</a>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 second">
					<div class="content-item">
						<h2>Extract audio from a video</h2>
				        <p>Create your own soundtracks from a movie you like. Or just give a YouTube URL and retrieve it's audio in any format you like.</p>
				        <a class="getstarted-btn" href="/#/getstarted">Let's go!</a>					
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
