/**
 *	SASS
 *	get-started.scss
 * 
 * 
 *	general StyleSheet
 * 
 */

#contact {
	.jumbotron {
		background-color: transparent;
		margin-bottom: 0;
		h1 {
			font-size: 32px;
		    font-weight: 400;
		    letter-spacing: 2px;
		    color: $green;
		    padding: $margin*1.5 0;
		    text-align: center;
		}
	}
	form {
		p {
			margin-bottom: $margin;
			text-align: left;
			font-size: 20px;
		}
		input, textarea {
			width: 100%;
			outline: 0;
			padding: $margin $margin*2;
			@include border-radius(4px);
			border: 0;
			color: $green;
		}
		button {
			background-color: $green;
			border: 1px solid $green;
			color: white;
			padding: $margin $margin*2;
			@include border-radius(4px);
			width: 200px;
			margin-top: $margin;
			outline: 0;
			&:hover {
				background-color: transparent;
				color: $green;
			}
		}
	}
	@media screen and (min-width:640px) {
		.jumbotron {
			h1 {
				font-size: 38px;
			}
		}
	}
}