/**
 *	SASS
 *	get-started.scss
 * 
 * 
 *	general StyleSheet
 * 
 */

#contact {
	form {
		p {
			margin-bottom: $margin;
			text-align: left;
			font-size: 20px;
		}
		input, textarea {
			width: 100%;
			outline: 0;
			padding: $margin $margin*2;
			@include border-radius(4px);
			border: 0;
			color: $green;
		}
		button {
			background-color: $green;
			border: 1px solid $green;
			color: white;
			padding: $margin $margin*2;
			@include border-radius(4px);
			width: 200px;
			margin-top: $margin;
			outline: 0;
			&:hover {
				background-color: transparent;
				color: $green;
			}
		}
	}
}