/**
 *	SASS
 *	get-started.scss
 * 
 * 
 *	general StyleSheet
 * 
 */


#get-started {
	padding-bottom: $margin*8;
	button {
		background-color: $green;
		border: 1px solid $green;
		color: white;
		&:hover {
			//border: 1px solid $green;
			background-color: transparent;
			color: $green;
		}
		span {
			display: inline-block;
			vertical-align: middle;
			line-height: 0;
			font-weight: 200;
		}
		.btn-icon {
			font-size: 22px;
		}
		.btn-text {
			font-size: 18px;
		}
	}
	.form-group {
		width: 100%;
		.form-item {
			border-top: 1px solid $green;
			width: 100%;
			@include bbox;
			padding: $margin*3 $margin;
			margin-bottom: $margin*1.5;
			h2 {
				margin-bottom: $margin*2;
				font-size: 24px;
			}
			button, input {
				width: 100%;
				outline: 0;
				padding: $margin $margin*2;
				@include border-radius(4px);
			}
			input {
				border: 0;
				color: $green;
			}
		}
	}
	.progress-wrapper {
		p {
			margin-bottom: $margin;
		}
		h3 {
		    font-size: 22px;
			margin-bottom: $margin*1.5;
			margin-top: $margin*2.5;
			text-align: center;
		}
		select {
			@include border-radius(4px);
			border: 0;
			height: 42px;
			font-family: $open-sans;
			letter-spacing: 2px;
			outline: 0;
		}
		button {
			@include intrinsic;
			outline: 0;
			padding: $margin $margin*2;
			@include border-radius(4px);
			margin-top: $margin;
		}
	}
	.task-content {
		margin: 0 auto;
		float: none;
		border-top: 2px solid rgba(0, 0, 0, 0.05);
		padding: $margin $margin*3 $margin*3 $margin*3;
	}
	@media screen and (min-width:640px) {
		.form-group {
			.form-item {
				@include border-radius(4px);
				padding: $margin*3 $margin;
				background-color: rgba(0, 0, 0, 0.05);
				border-top: 0;
				margin-bottom: $margin*3;
				h2 {
					margin-bottom: $margin*4;
					font-size: 28px;
				}
				button, input {
					width: 50%;
					margin: 0 auto;
				}
			}
		}
		
	}
	@media screen and (min-width:992px) {
		.form-group {
			.form-item {
				button, input {
					width: 80%;
				}
			}
		}
		.task-content {
			border: 2px solid rgba(0, 0, 0, 0.05);
		}
	}
}