/**
 *	SASS
 *	home.scss
 * 
 * 
 *	general StyleSheet
 * 
 */


.home-wrapper {
	padding-bottom: $margin*8;
	.carousel-wrapper {
		height: 215px;
		@media screen and (min-width:480px) {
			height: 250px;
		}
		@media screen and (min-width:580px) {
			height: 300px;
		}
		@media screen and (min-width:768px) {
			height: 400px;
		}
		@media screen and (min-width:1024px) {
			height: 600px;
		}
		.carousel {
			position: relative;
		    overflow: hidden;
		    width: 100%;
		    height: 100%;
		    .carousel-inner {
			    height: 100%;
		    }
		    .carousel-slide {
			    height: 100%;
			    img {
				    width: 100%;
			    }
			    .carousel-caption {
		    	    position: absolute;
				    height: 100%;
				    width: 100%;
				    display: table;
				    top: 0;
				    left: 0;
				    h4 {
					    display: none;
				    }
				    p {
					    vertical-align: middle;
					    font-size: 20px;
					    line-height: 20px;
					    display: table-cell;
					    vertical-align: middle;
					    text-align:center;
					     @media screen and (min-width:640px) {
							font-size: 35px;
						}
					     @media screen and (min-width:1024px) {
							font-size: 45px;
						}
				    }
			    }
		    }
		    .carousel-indicators {
			    display: none;
		    }
		}
	}
	.carousel-control {
		color: #fff;
	    text-decoration: none;
	    filter: alpha(opacity=90);
	    outline: 0;
	    opacity: .9;
	    .carousel-arrow {
		    display: none;
	    }
	}
	
	.jumbotron {
		background-color: transparent;
		margin-bottom: 0;
		.logo-wrapper {
			width: 100%;
			height: auto;
			margin-bottom: $margin;
			img {
				width: 70px;
				height: auto;
				margin: 0 auto;
				display: block;
			}
		}
		h1 {
			font-size: 32px;
			line-height: 34px;
		    font-weight: 400;
		    letter-spacing: 2px;
		    color: $green;
		    padding: $margin*1.5 0;
		    text-align: center;
		}
		@media screen and (min-width:640px) {
			h1 {
				font-size: 38px;
				line-height: 40px;
			}
		}
		@media screen and (min-width:992px) {
			.logo-wrapper {
				img {
					width: 80px;
				}
			}
			h1 {
				font-size: 44px;
				line-height: 46px;
			}
		}
	}
	.content-wrapper {
		.content-group {
			width: 100%;
			.content-item {
				border-top: 1px solid $green;
				width: 100%;
				padding: $margin*3 $margin;
				margin-bottom: $margin*1.5;
				@include bbox;
				@include clearfix;
				width: 100%;
				height: auto;
				h2 {
					margin-bottom: $margin*2;
					font-size: 24px;
					line-height: 30px;
					text-align: center;
				}
				p {
					margin-bottom: $margin*2;
					font-size: 18px;
					line-height: 20px;
				}
				.getstarted-btn {
					display: block;
					width: 100%;
					outline: 0;
					border: 0;
					padding: $margin $margin*2;
					@include border-radius(4px);											background-color: $green;
					border: 1px solid $green;
					color: white;
					text-decoration: none;
					text-align: center;
					&:hover {
						border: 1px solid $green;
						background-color: transparent;
						color: $green;
					}
				}
			}
			.row {
				height: auto;
			}
			.second {
				/*display: flex;
				flex-direction: column;
				min-height: 100vh;*/
			}
		}
		@media screen and (min-width:640px) {
			.content-group {
				.content-item {
					@include border-radius(4px);
					padding: $margin*3 $margin*2.5;
					background-color: rgba(0, 0, 0, 0.05);
					border-top: 0;
					margin-bottom: $margin*3;
					height: 100%;
					h2 {
						margin-bottom: $margin*4;
						font-size: 28px;
					}
					.getstarted-btn {
						width: 50%;
						margin: 0 auto;
					}
				}
			}
		}
		@media screen and (min-width:992px) {
			.content-group {
				.content-item {
					height: 345px;
					position: relative;
					.getstarted-btn {
						width: 80%;
						position: absolute;
						bottom: $margin*3;
						left: 50%;
						margin-left: -40%;
					}
				}
			}
		}
		@media screen and (min-width:992px) {
			.content-group {
				.content-item {
					height: 345px;
				}
			}
		}
		@media screen and (min-width:1200px) {
			.content-group {
				.content-item {
					height: 300px;
				}
			}
		}
	}
}
