/**
 *	SASS
 *	nav-bar.scss
 * 
 * 
 *	general StyleSheet
 * 
 */

$nav-width : 400px;

.navbar {
	position: absolute;
	width: 100%;
	height: auto;
	margin-bottom: $margin/2;
	.close-button {
		color: white;
		font-size: 35px;
		cursor: pointer;
		text-align: right;
		a {
			color: white;
			text-decoration: none;
			&:hover {
				color: $green;
			}
		}
	}
}

.nav-filter {
	width: 100%;
    height: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    padding-left: $nav-width;
	opacity: 0;
	z-index: -1000;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	&.filter-appears {
		height: 100%;
		opacity: 1;
		z-index: 9;
	}
	.close-button {
		position: absolute;
		left: $nav-width + $margin*3;
		top: 20px;
		text-shadow: 4px 0px 4px #9b9b9b;
	}
}

#menu {
	background-color: $darkPistachio;
	padding: $margin*2 $margin*3;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 10;
	-webkit-transition: left 0.5s;
	-moz-transition: left 0.5s;
	-o-transition: left 0.5s;
	transition: left 0.5s;
	&.menu-appears {
		left: 0;
	}
	.close-button {
		position: relative;
	}
	.navitems-wrapper {
		position: relative;
		margin-top: $margin;
		z-index: 11;
		height: auto;
		width: 100%;
		ul {
			padding-left: 0;
			li {
				display: block;
				color: white;
				text-transform: uppercase;
				letter-spacing: 3px;
				font-size: 23px;
				margin-bottom: $margin*1.5;
				a {
					text-decoration: none;
					color: white;
					&:hover {
						text-decoration: underline;	
					}
					&.selected {
						font-weight: 700;
						text-decoration: underline;
					}
				}
				&.login-item {
					p {
						font-weight: 200;
						//font-size: 20px;
						span {
							font-size: 33px;
							display: inline-block;
							vertical-align: middle;
						}
						.username {
							font-size: 20px;
						}
					}
				}
			}
			hr {
				margin-bottom: $margin*4;
				&.menu-end {
					margin-top: $margin*4;
				}
			}
		}
		.hand-coded {
			    font-size: 12px;
				line-height: 16px;
			p {
				text-align: center;
				width: 100%;
				letter-spacing: 3px;
				margin-bottom: $margin/2;
			}
		}
	}
	@media screen and (min-width:640px) {
		width: $nav-width;
		.close-button {
			display: none;
		}
	}
}

.navbar-default {
	background-color: transparent;
	border: 0;
	min-height: 50px;
	background-color: rgba($navColor, 0.3);
	.navbar-header {
		margin: 0;
		a {
			font-size:24px;
			color: white;
			text-shadow: 1px 0px 1px $green;
		}
	}
	@media screen and (min-width:640px) {
		min-height: 60px;
		.navbar-header {
			margin: 0;
			a {
				font-size:30px;			
			}
		}
	}
}

