/**
 *	SASS
 *	pricing.scss
 * 
 * 
 *	general StyleSheet
 * 
 */

#pricing {
	.jumbotron {
		background-color: transparent;
		margin-bottom: 0;
		h1 {
			font-size: 32px;
		    font-weight: 400;
		    letter-spacing: 2px;
		    color: $green;
		    padding: $margin*1.5 0;
		    text-align: center;
		}
	}
	.price-item {
		margin-bottom: $margin*2;
		.panel-heading {
			background-color: $green;
			color: $backgroundColor;
		}
		hr {
			background-color: $green;
			border-color: $green;
			&.hr-hidden {
				opacity: 0;
				margin-bottom: 0;
			}
		}
		li {
			margin-bottom: $margin/2;
			p {
				line-height: 20px;
				position: relative;
				padding-left: $margin*2.5;
				span {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
		.panel-footer {
			padding-bottom: $margin*2;
			background-color: transparent;
		}
		.getstarted-btn {
			display: block;
			width: 100%;
			outline: 0;
			border: 0;
			padding: $margin $margin*2;
			@include border-radius(4px);							background-color: $green;
			border: 1px solid $green;
			color: white;
			text-decoration: none;
			text-align: center;
			margin-bottom: $margin;
			&:hover {
				border: 1px solid $green;
				background-color: transparent;
				color: $green;
			}
		}
	}
	.price-wrapper {
		@include border-radius(4px);
		background-color: rgba(0, 0, 0, 0.05);
	}
	@media screen and (min-width:640px) {
		.jumbotron {
			h1 {
				font-size: 38px;
			}
		}
	}
}