/**
 *	SASS
 *	tasks.scss
 * 
 * 
 *	general StyleSheet
 * 
 */


#tasks {
	table {
		thead {
			background-color: $green;
			th {
				color: white;
			}
		}
		td {
			padding: $margin*1.5 8px;
			p {
				vertical-align: middle;
			}
			a {
				display: block;
				width: 100%;
				outline: 0;
				border: 0;
				padding: 2px $margin*2;
				@include border-radius(4px);							
				background-color: $green;
				border: 1px solid $green;
				color: white;
				text-decoration: none;
				text-align: center;
				font-size: 25px;
				&:hover {
					border: 1px solid $green;
					background-color: transparent;
					color: $green;
				}
			}
		}
	}
}